left-aside{
    top: 56px;
    height: 100vh;
    position: sticky;
    
}
.container{
    display: flex;
    background-color: #efefef;
    justify-content: space-between;
    flex-wrap: wrap;
}
main-body{
    flex-basis: 47%;
    position: relative;
    top: 65px;
    left: 241px;
    background-color: #efefef;
    left: 0px;
}
right-main{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    position: relative;
    left: 288px;
    border: 2px solid white;
    background-color: white;
}
right-main{
    position: sticky;
   
    margin-right: 212px;
}
    
